/* clearfix */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
    
  }

  
  /* 헤더 */
  .header-background {
    width: 100%;
      height: 160px;
    background-color: #D7F0FA;
    z-index: 999;
    border-bottom: solid 2px #5AA7DE;
      position: fixed;
     
  }
  .header {
    margin-left: 250px ;
    width: 1000px;
  }
  .header-heading {
    float: left;
    padding: 24px 0;
    font-size: 10px;
  }
  .header-heading a {
    position: relative;
    display: block;
    width: 75px;
    margin-top: 10px;

    line-height: 75px;
    text-align: center;
  }
  .header-heading a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    background: url(../img/logo.png) no-repeat;
  }
  .utility {
    float: left;
    min-width: 500px;
    margin-left: 220px;
  }
/* 채팅 메뉴 조절 */
  .utility-list {
    float: left;
      padding-left: 100px;
  }
  .utility-list li {
    position: relative;
    float: left;
  }
  .utility-list li::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
      text-align: center;
      align-items: center;
    color: aquamarine;
  }
  .utility-list li:last-child::after {
    content: '';
  }
  .utility-list li a {
    display: block;
    padding: 10px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.9rem;
    padding-right: 30px;
    color: #555;
      
  }
  .utility-list li a:hover,
  .utility-list li a:focus {
padding-left: 15px;
      color: white;
    background-color: rgb(199,228,255);
  }

  .navigation {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;

  /* 생략 */

 
  }
  .menu-item {
    float: right;
   
    
  }
  .sub-menu-heading a {
    padding-right: 0px;
 
    content: '|';
    font-size: 1.3rem;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
    color: #333
  }
  .sub-menu-heading a:hover,
  .sub-menu-heading a:focus {
    text-decoration: underline;
      content: '|';
    color: white;
      align-content: center;
    background-color: rgb(199,228,255);
  }

.article { padding-left: 220px;

}


h1 { line-height: 70px;}

.box gender_code { 
padding-left: 15px;}

select { 
 background-image: url(gender.png)}


  
#mainlogo { 
margin-top: 10px;
  width: 180px; 
  height: 120px;}

.carousel { 
padding-top:100px;}